@use "../base/variables" as v;

.hidden { //hide elements from the stage that are later introduce with GSAP
    opacity: 0;
  }
.highlight  { //use on spans' to highlight specific words
    background-color: red;
    color: white;
    padding: v.$space-3xs;
    font-weight: 600;
    &-2 {
      font-weight: 500;
      color: #0077b6;
    }
    &-3 {
      font-weight: 500;
      color: red;
    }
}
.blur {
  filter: blur(4px);
}
.text-center {
  text-align: center;
}
.stack > * + * {
  margin-block-start: v.$space-2xs; 
}
.shadow {
  box-shadow: 0 0 v.$space-4xs rgba(0, 0, 0, 0.5);
}
.cursor-pointer {
  cursor: pointer;
}