/* SCENE 2 */
.scene2 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  &__text {
    width: 18ch;
  }
  &__svg {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
  }
}

#scene2__net {
    animation-delay: 0.3s;
}
#scene2__cup {
    animation-delay: 0.6s;
}
#scene2__litter1 {
    animation-delay: 0.9s;
}
#cene2__litter2 {
    animation-delay: 1.2s;
}
#scene2__plasticbag1 {
    animation-delay: 1.5s;
}
#scene2__bottle1 {
    animation-delay: 1.8s;
}
#scene2__bottle2 {
    animation-delay: 2.1s;
}
#scene2__plasticbag2 {
    animation-delay: 2.4s;
}
