@use "../base/variables" as v;
.scroll-button {
    position: fixed;
    z-index: 100;
    padding-inline: v.$space-4xs;
    border-radius: v.$space-4xs;
    font-size: v.$step--3;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    cursor: pointer;
    &:hover {
        outline: 1px solid white;
    }
}
.scroll-button--top {
  display: none;
  top: v.$space-3xs;
  right: v.$space-3xs;
}
.scroll-button--bottom {
  bottom: v.$space-3xs;
  right: v.$space-3xs;
}