/* VARIABLES */

//type
/* @link https://utopia.fyi/type/calculator?c=300,34,1.2,1920,64,1.25,5,5,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
/* Step -4: 16.3966px → 26.2144px */
$step--4: clamp(1.0248rem, 0.9112rem + 0.606vw, 1.6384rem);
/* Step -3: 19.6759px → 32.768px */
$step--3: clamp(1.2297rem, 1.0782rem + 0.8082vw, 2.048rem);
/* Step -2: 23.6111px → 40.96px */
$step--2: clamp(1.4757rem, 1.2749rem + 1.0709vw, 2.56rem);
/* Step 0: 34px → 64px */
$step-0: clamp(2.125rem, 1.7778rem + 1.8519vw, 4rem);

//space
/* @link https://utopia.fyi/space/calculator?c=300,34,1.2,1920,64,1.25,5,5,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
/* Space 4xs: 4px → 8px */
$space-4xs: clamp(0.25rem, 0.2037rem + 0.2469vw, 0.5rem);
/* Space 3xs: 9px → 16px */
$space-3xs: clamp(0.5625rem, 0.4815rem + 0.4321vw, 1rem);
/* Space 2xs: 17px → 32px */
$space-2xs: clamp(1.0625rem, 0.8889rem + 0.9259vw, 2rem);
