@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
.wave {
  animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
.float {
  animation: float 3s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0.25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-0.25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-0.25deg);
    transform-origin: right bottom;
  }
  100% {
    transform: rotate(0deg);
  }
}
#depth3__fin {
  animation: wiggle 2s ease-in-out infinite;
}

@keyframes spinOnce {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
/* GLOBAL */
html, body {
  overflow-x: hidden;
}

body {
  background-color: beige;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* VARIABLES */
/* @link https://utopia.fyi/type/calculator?c=300,34,1.2,1920,64,1.25,5,5,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
/* Step -5: 13.6638px → 20.9715px */
/* Step -4: 16.3966px → 26.2144px */
/* Step -3: 19.6759px → 32.768px */
/* Step -2: 23.6111px → 40.96px */
/* Step -1: 28.3333px → 51.2px */
/* Step 0: 34px → 64px */
/* Step 1: 40.8px → 80px */
/* Step 2: 48.96px → 100px */
/* Step 3: 58.752px → 125px */
/* Step 4: 70.5024px → 156.25px */
/* Step 5: 84.6029px → 195.3125px */
/* @link https://utopia.fyi/space/calculator?c=300,34,1.2,1920,64,1.25,5,5,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
/* Space 5xs: 2px → 4px */
/* Space 4xs: 4px → 8px */
/* Space 3xs: 9px → 16px */
/* Space 2xs: 17px → 32px */
/* Space xs: 26px → 48px */
/* Space s: 34px → 64px */
/* Space m: 51px → 96px */
/* Space l: 68px → 128px */
/* Space xl: 102px → 192px */
/* Space 2xl: 136px → 256px */
/* Space 3xl: 204px → 384px */
/* One-up pairs */
/* Space 3xs-2xs: 9px → 32px */
/* Space 2xs-xs: 17px → 48px */
/* Space xs-s: 26px → 64px */
/* Space s-m: 34px → 96px */
/* Space m-l: 51px → 128px */
/* Space l-xl: 68px → 192px */
/* Space xl-2xl: 102px → 256px */
/* Space 2xl-3xl: 136px → 384px */
/* Custom pairs */
/* Space s-l: 34px → 128px */
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: clamp(1.0625rem, 0.8889rem + 0.9259vw, 2rem);
  font-size: clamp(2.125rem, 1.7778rem + 1.8519vw, 4rem);
  line-height: 1.3;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: clamp(1.0625rem, 0.8889rem + 0.9259vw, 2rem);
  transform: translate(-50%, -50%);
}

.fact-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: min(80%, 60ch);
  padding: clamp(1.0625rem, 0.8889rem + 0.9259vw, 2rem);
  border: 2px solid black;
  font-size: clamp(1.4757rem, 1.2749rem + 1.0709vw, 2.56rem);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
  transform: translate(-50%, -50%);
}

/* Ending */
.ending {
  height: 100vh;
  width: 100%;
  background: #0a97d9;
  color: white;
}
.ending__container {
  height: 100%;
  width: 100%;
  padding: clamp(1.0625rem, 0.8889rem + 0.9259vw, 2rem);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ending__text {
  font-size: clamp(1.4757rem, 1.2749rem + 1.0709vw, 2.56rem);
}
.ending__cta {
  font-size: clamp(2.125rem, 1.7778rem + 1.8519vw, 4rem);
  font-weight: 500;
}
.ending__img {
  width: min(100%, 300px);
}
.ending__span {
  display: block;
}

.scroll-button {
  position: fixed;
  z-index: 100;
  padding-inline: clamp(0.25rem, 0.2037rem + 0.2469vw, 0.5rem);
  border-radius: clamp(0.25rem, 0.2037rem + 0.2469vw, 0.5rem);
  font-size: clamp(1.2297rem, 1.0782rem + 0.8082vw, 2.048rem);
  color: white;
  background: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  cursor: pointer;
}
.scroll-button:hover {
  outline: 1px solid white;
}

.scroll-button--top {
  display: none;
  top: clamp(0.5625rem, 0.4815rem + 0.4321vw, 1rem);
  right: clamp(0.5625rem, 0.4815rem + 0.4321vw, 1rem);
}

.scroll-button--bottom {
  bottom: clamp(0.5625rem, 0.4815rem + 0.4321vw, 1rem);
  right: clamp(0.5625rem, 0.4815rem + 0.4321vw, 1rem);
}

.intro {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #0077b6, beige);
  color: white;
}
.intro__container {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding: clamp(1.0625rem, 0.8889rem + 0.9259vw, 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro__title {
  font-size: clamp(2.125rem, 1.7778rem + 1.8519vw, 4rem);
  font-weight: 500;
}
.intro__text {
  font-size: clamp(1.4757rem, 1.2749rem + 1.0709vw, 2.56rem);
  max-width: 50ch;
  margin-inline: auto;
}
.intro__info {
  font-size: clamp(1.2297rem, 1.0782rem + 0.8082vw, 2.048rem);
  font-weight: 400;
  color: #0077b6;
}
.intro__cloud--1 {
  position: absolute;
  top: 5%;
  left: 0;
  width: 20vw;
}
.intro__cloud--2 {
  position: absolute;
  top: 10%;
  left: 0;
  width: 25vw;
}

/* SCENE 1 */
.stage {
  width: 100%;
  height: 100vh;
  position: relative;
}

.scene1 {
  height: 100%;
  width: 100%;
}
.scene1__text {
  width: 17ch;
}
.scene1__svg {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

#scene1__wave1 {
  animation-delay: 0.3s;
}

#scene1__wave2 {
  animation-delay: 0.6s;
}

#scene1__wave3 {
  animation-delay: 0.9s;
}

#scene1__wave4 {
  animation-delay: 1.2s;
}

#scene1__wave5 {
  animation-delay: 1.5s;
}

/* SCENE 2 */
.scene2 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.scene2__text {
  width: 18ch;
}

.scene2__svg {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

#scene2__net {
  animation-delay: 0.3s;
}

#scene2__cup {
  animation-delay: 0.6s;
}

#scene2__litter1 {
  animation-delay: 0.9s;
}

#cene2__litter2 {
  animation-delay: 1.2s;
}

#scene2__plasticbag1 {
  animation-delay: 1.5s;
}

#scene2__bottle1 {
  animation-delay: 1.8s;
}

#scene2__bottle2 {
  animation-delay: 2.1s;
}

#scene2__plasticbag2 {
  animation-delay: 2.4s;
}

/* SCENE 3 */
.scene3__depth {
  position: relative;
  width: 100%;
  height: 100vh;
  transition: background 0.5s ease;
}

#scene3__depth1 {
  background: linear-gradient(to bottom, #98e9f4, #005577);
}

#scene3__depth2 {
  background: linear-gradient(to bottom, #005577, #003344);
}

#scene3__depth3 {
  background: linear-gradient(to bottom, #003344, #000a13);
}

#depth__bubble {
  width: 100%;
  height: auto;
}

#depth3__turtle {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

#scene3__svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#depth3__trash {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  animation-duration: 7s;
}

#depth3__fish {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.scene3__facts2 {
  z-index: 1;
}

/* SCENE 4 */
.scene4 {
  height: 100vh;
  width: 100%;
  position: relative;
}
.scene4__svg {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}
.scene4__text {
  width: 15ch;
}
.scene4__sub-text {
  font-size: 1rem;
}
.scene4__bottle--1 {
  animation-delay: 0.3s;
}
.scene4__bottle--2 {
  animation-delay: 0.6s;
}

.svg-container {
  width: 100%;
  height: 100%;
}

#gal_garbage-bag {
  transform-origin: center top;
}
#gal_garbage-bag:hover {
  animation: swing 0.6s ease-in-out 1;
}

#congrats {
  display: none;
  position: absolute;
  inset-block-start: 20%;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  font-size: clamp(2.125rem, 1.7778rem + 1.8519vw, 4rem);
  color: green;
  font-weight: 500;
}
#congrats.spin {
  animation: spinOnce 1s ease-out forwards;
}

/* MEDIA QUERIES */
@media (prefers-reduced-motion: reduce) {
  .reduced-motion {
    animation: none !important;
  }
}
.hidden {
  opacity: 0;
}

.highlight {
  background-color: red;
  color: white;
  padding: clamp(0.5625rem, 0.4815rem + 0.4321vw, 1rem);
  font-weight: 600;
}
.highlight-2 {
  font-weight: 500;
  color: #0077b6;
}
.highlight-3 {
  font-weight: 500;
  color: red;
}

.blur {
  filter: blur(4px);
}

.text-center {
  text-align: center;
}

.stack > * + * {
  margin-block-start: clamp(1.0625rem, 0.8889rem + 0.9259vw, 2rem);
}

.shadow {
  box-shadow: 0 0 clamp(0.25rem, 0.2037rem + 0.2469vw, 0.5rem) rgba(0, 0, 0, 0.5);
}

.cursor-pointer {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */